# mariadb Nextcloud configuration

[mysqld_safe]
user=nobody

[mysqld]
user=nobody

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[server]
socket=/home/mysql.sock
pid-file=/home/mysql.pid
log-bin = /logs/nextcloud/mysql/mariadb-bin
log-bin-index = /logs/nextcloud/mysql/mariadb-bin.index
binlog_format  = mixed

[mysqld_safe]
user=nobody
socket=/home/mysql.sock

[mysqld]
user=nobody
socket=/home/mysql.sock

[mysql]
socket=/home/mysql.sock

[mysqladmin]
socket=/home/mysql.sock
