# mariadb Nextcloud configuration

[client-server]

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[server]

log-bin = /logs/nextcloud/mysql/mariadb-bin
log-bin-index = /logs/nextcloud/mysql/mariadb-bin.index
binlog_format  = mixed
