# mariadb Nextcloud configuration

[mysqld_safe]
user=nobody

[mysqld]
user=nobody

[client-server]
# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[server]
socket=/home/mysql.sock
pid-file=/home/mysql.pid
bind-address=0.0.0.0

[mysqld_safe]
user=nobody
socket=/home/mysql.sock

[mysqld]
user=nobody
socket=/home/mysql.sock

[mysql]
socket=/home/mysql.sock

[mysqladmin]
socket=/home/mysql.sock
